.success{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 4rem;
}
.sub-suc{
    background-color: #5b8fb99d ;
    height: 20rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    border-radius: 26px;
    outline: 3px solid #5b8fb99d;
    outline-offset: -2px;
    transition: 0.3s ease;

}
.orderDel{
    font-size: 25px;
}
.sub-suc:hover{
    outline-offset: 5px;
}
.inner-suc{
    color: green ;
    animation: bigsmall 1s infinite;
}
.cancel-inner-suc{
    display: flex;
    justify-content: center;
    min-width: 22rem;
}
@keyframes bigsmall {
    0%{
        transform: scale(1.05);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.05);

    }
}
.back{
    background-color: #CC202E;
    border: none;
    border-radius: 22px;
    outline: 2px solid #CC202E;
    outline-offset: -2px;
    height: 2.5rem;
    width: 8rem;
    margin-top: 2rem;
    color: #a8b3bd9d;
    transition: 0.2s ease;
}
.back:hover{
    outline-offset: 2px;
    color:white;
}